%h1= "#{params[:year]}/#{params[:month]}"

%table
  - (@first_day..@last_day).each do |date|
    %tr{:class => [date.saturday? && "palette-peter-river", |
                     date.sunday? && "palette-pomegranate"]}
      %td= date.day
